<textarea [(ngModel)]='question' placeholder="Enter Question ?" id="question" class="textarea"></textarea>
<textarea [(ngModel)]='textPhrase' placeholder="Enter Text Phrase" id="textPhrase" class="textarea"></textarea>

<p>{{textPhrase}}</p>

<div class="selectionOptions">
    <label for="word">
        <input type="radio" id="word" name="selectionMethod" value="word" [(ngModel)]="selectedOption" >Word
    </label>

    <label for="sentence">
        <input type="radio" id="sentence" name="selectionMethod" value="sentence" [(ngModel)]="selectedOption"  >Sentence
    </label>

    <label for="paragraph">
        <input type="radio" id="paragraph" name="selectionMethod" value="paragraph" [(ngModel)]="selectedOption"  >Paragraph
    </label>

    <label for="custom">
        <input type="radio" id="custom" name="selectionMethod" value="custom" [(ngModel)]="selectedOption"  >Custom
    </label>
</div>

<div *ngIf=" selectedOption === 'word' " class="selectedOption">
    <app-word-highlighter  [textPhrase]="textPhrase" ></app-word-highlighter>
</div>

<div *ngIf=" selectedOption === 'sentence' " class="selectedOption">
    <app-sentence-highlighter  [textPhrase]="textPhrase" ></app-sentence-highlighter>
</div>

<div *ngIf=" selectedOption === 'paragraph' " class="selectedOption">
    <app-paragraph-highlighter  [textPhrase]="textPhrase" ></app-paragraph-highlighter>
</div>

<div *ngIf=" selectedOption === 'custom' " class="selectedOption">
    <app-custom-highlighter  [textPhrase]="textPhrase" ></app-custom-highlighter>
</div>

