<div class="form">
    <div class="textAreaLabels">
        <p>Question (Stem) *</p>
        <textarea [(ngModel)]='formData.question' (ngModelChange)="onInputChange()" name="question"
            placeholder="Enter Question (Stem)" id="question" class="textarea">
        </textarea>
    </div>
    <div class="textAreaLabels">
        <p>Text Phrase *</p>
        <textarea [(ngModel)]='formData.textPhrase' (ngModelChange)="onInputChange()" name="textPhrase"
            placeholder="Enter Text Phrase" id="textPhrase" class="textarea">
        </textarea>
    </div>


    <div class="selectionOptions">
        <p>Set Answer Type</p>
        <div class="labels">
            <label for="word" class="option-label">
                <input type="radio" id="word" name="selectionMethod" value="word" [(ngModel)]="formData.selectedOption"
                    (ngModelChange)="onInputChange()">
                <span></span> Word
            </label>

            <label for="sentence" class="option-label">
                <input type="radio" id="sentence" name="selectionMethod" value="sentence"
                    [(ngModel)]="formData.selectedOption" (ngModelChange)="onInputChange()">
                <span></span> Sentence
            </label>

            <label for="paragraph" class="option-label">
                <input type="radio" id="paragraph" name="selectionMethod" value="paragraph"
                    [(ngModel)]="formData.selectedOption" (ngModelChange)="onInputChange()">
                <span></span> Paragraph
            </label>

            <label for="custom" class="option-label">
                <input type="radio" id="custom" name="selectionMethod" value="custom"
                    [(ngModel)]="formData.selectedOption" (ngModelChange)="onInputChange()">
                <span></span> Custom
            </label>
        </div>
    </div>

    <app-highlighter></app-highlighter>

</div>