@import '../../../mixins.scss';

.header {
    background-color: #25313F;
    height: 8vh;
    width: 100%;
    font-family: 'Quicksand';


    >.container {
        margin: 0px auto;    
        height: 100%;
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        >.logo{
            font-size: 32px;
            color: white;
        }

        >ul{
            @include resetCss();
            display: flex;
            color: #3FD28B;
            align-items: center;
            height: 100%;

            >li{
                @include resetCss();
                @include centerFlex();
                text-decoration: none;
                list-style-type: none;
                height: 100%;
                padding: 4px 10px;

            }
        
            >span{
                @include centerFlex();
                padding: 4px 10px;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                background-color: #3C4E62;
                border: 2px solid #3FD28B ;
                color: white;
                font-weight: 28px;
                margin-left:10px;
                font-weight: bold;
            }

            >li.activeNav{
                color: white;
                font-weight: bold;
                box-shadow: inset 0px -5px 0px 0px white;
            }
        }
    }
}