@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


@mixin resetCss(){
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    box-sizing: border-box;
}

@mixin centerFlex(){
    display: flex;
    justify-content: center;
    align-items: center;
}
