$bg_body : #EEEEEE;
// $body_padding_1024plus: 0px 5%;
// $body_padding_768plus: 0px 2%;
$header_icon_height: 40px;
$header_items_color: #3FD28B;
$primary_greenColor: #3FD28B;
$secondary_greenColor: #2b9c6d;


@mixin resetToNormal {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@mixin alignCenterFlex {
    display: flex;
    align-items: center;
}

@mixin gapFromSide {
    padding: 0px 2%;
}

@mixin setSelectElement {

    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
}

@mixin setFont {

    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

@mixin setTextDecorNone {
    text-decoration: none;
}

body {

    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    @include resetToNormal();
    background-color: $bg_body;

    .dNone {
        display: none;
    }


    >.header {
        @include alignCenterFlex();
        @include gapFromSide();
        justify-content: space-between;
        background-color: #222222;
        height: 10vh;
        border-bottom: 2px solid #31B9E4;

        >.icon {
            display: flex;
            height: $header_icon_height;
        }

        >ul {
            @include resetToNormal();
            display: flex;
            justify-content: space-around;
            height: 100%;

            >li {
                @include alignCenterFlex();
                list-style-type: none;

                &:active {
                    border-bottom: 5px solid white;
                }

                >a {
                    color: $header_items_color;
                    text-decoration: none;
                    padding: 8px 8px;
                    font-weight: bold;
                }

                &:hover a {
                    color: white;
                }

            }

            >.links {
                padding: 0px 10px;
                position: relative;
                @include alignCenterFlex();

                img {
                    height: 30px;
                }

                >.img {

                    position: relative;

                    >span {

                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        background-color: #2A7FF3;
                        position: absolute;
                        top: -5px;
                        right: -5px;
                        color: white;
                        text-align: center;
                    }

                }

                >.announcements,
                .alertDetails {
                    background-color: white;
                    position: absolute;
                    top: 10vh;
                    right: 0px;
                    width: 320px;
                    max-height: 550px;
                    overflow-y: auto;
                    z-index: 5;
                    box-shadow: 10px 10px 8px #dadada;


                    >&::-webkit-scrollbar {
                        width: 5px;
                    }

                    >&::-webkit-scrollbar-track {
                        background: #f1f1f1;
                    }

                    >&::-webkit-scrollbar-thumb {
                        background: #888;
                    }

                    >&::-webkit-scrollbar-thumb:hover {
                        background: #555;
                    }


                    >.individualAnnouncements,
                    .individualAlert {

                        padding: 10px;
                        border-bottom: 1px solid grey;
                        @include setFont();


                        >p {
                            @include resetToNormal();
                            margin: 5px 0px
                        }

                        >.author,
                        .information {
                            font-size: 14px;
                        }

                        >.title {
                            font-size: 16px;
                            font-weight: bold;
                        }

                        .more {
                            display: flex;
                            font-size: 12px;
                            justify-content: space-between;
                        }

                    }



                    >.ticked {
                        background-color: #FFFFEE;
                    }

                    >.buttons {
                        position: sticky;
                        bottom: 0;
                        display: flex;
                        height: 50px;

                        >button {

                            border: none;
                            @include resetToNormal();
                            outline: none;
                            border: 1px solid #dadada;


                            width: 50%;
                            height: 100%;
                            background-color: white;
                            color: $secondary_greenColor;

                        }



                    }

                }



                >.alertDetails {

                    >.buttons {
                        >button {

                            width: 100%;
                        }
                    }
                }
            }

            >.profile {

                >.img {

                    >span {

                        top: -20%;
                        right: -20%;
                        background-color: white;
                        color: black;
                        font-weight: bold;
                    }

                    >img {

                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        object-fit: cover;
                        border: 3px solid $primary_greenColor;
                    }
                }
            }

            >.onlyPhone {
                display: none;
                margin: auto 0px;

            }

        }

        >.horizontalNav {
            display: none
        }

    }



    >.dashboard {
        @include gapFromSide();
        padding-top: 30px;
        padding-bottom: 30px;


        >.section {
            background-color: $primary_greenColor;
            display: flex;
            height: 10vh;


            >.course,
            .classes {
                @include alignCenterFlex();
                width: 50%;
                justify-content: center;
                font-weight: bold;
                box-sizing: border-box;


                &:hover {
                    border-bottom: 5px solid black;
                }

            }
        }

        >.sort {
            @include alignCenterFlex();
            justify-content: space-between;
            font-size: 14px;
            height: 10vh;
            border-bottom: 1px solid gray;


            >.filter {

                width: 35%;
                text-align: right;


                select {
                    @include setSelectElement();
                    @include setFont();
                    width: 75%;
                }

            }
        }


        >.cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
            gap: 20px;
            padding: 20px 0px;

            >.individualCard {
                position: relative;
                height: 280px;
                background-color: white;
                display: flex;
                flex-direction: column;

                >.details {
                    @include alignCenterFlex();
                    height: 78%;
                    position: relative;
                    margin: 30px 30px;

                    >.content {
                        width: 100%;
                        padding: 0px 20px;
                        font-size: 12px;


                        .headingOfCards {
                            width: 90%;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }


                        p {
                            margin: 8px 0px;
                        }

                        select {
                            @include setSelectElement();
                            @include setFont();
                        }

                    }


                    .favIcon {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }

                }


                >.operations {
                    @include alignCenterFlex();
                    height: 22%;
                    margin: 0px 30px;
                    border-top: 1px solid gray;
                    justify-content: space-around;

                    .opacityMedium {
                        opacity: 0.4;
                    }
                }

                >.expired {

                    color: red;
                    background-color: #FFE4E6;
                    width: fit-content;
                    padding: 2px 10px;
                    position: absolute;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }


        }


    }

    >footer {
        >.moreInfo {

            text-align: center;
            padding: 20px 0px;

            >a {

                @include setTextDecorNone();
                color: $primary_greenColor;
            }
        }


        >.footer {
            background-color: #E0E1E1;
            @include alignCenterFlex();
            justify-content: center;
            padding: 10px 0px;

            >.icon {

                height: 30px;
            }

            >.important {
                font-weight: bold;
            }
        }
    }



}




@media only screen and (max-width : 1024px) {


    body {
        // .header {
        //     // padding: $body_padding_768plus;

        // }

        >.dashboard {

            padding-top: 30px;
            padding-bottom: 30px;

            .sort {
                .filter {
                    width: 60%;

                    label {
                        text-align: center;
                    }
                }
            }

            >.cards {
                .individualCard {
                    .details {
                        margin: 15px 15px;
                    }
                }
            }
        }
    }

}


@media only screen and (max-width: 1024px) and (min-width: 769px) {

    body {
        >.dashboard {
            >.cards {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}


@media only screen and (max-width: 768px) {


    body {
        .header {

            position: sticky;
            top: 0;
            z-index: 10;

            ul {

                .onlyPC {
                    display: none;
                }

                .onlyPhone {
                    display: inline;
                }

            }

            >.horizontalNav {
                background-color: white;
                height: fit-content;
                width: 280px;
                display: none;
                flex-direction: column;
                position: absolute;
                top: 10vh;
                right: 5%;
                z-index: 5;
                box-shadow: 10px 10px 8px #dadada;

                >li {
                    padding: 12px 12px;
                    list-style-type: none;
                    color: $secondary_greenColor;
                    font-weight: bold;

                    >div {
                        display: none;
                        margin-top: 15px;
                        padding: 12px 12px;
                        color: $secondary_greenColor;
                        font-weight: bold;
                    }

                    &:hover {
                        background-color: #F3F3F3;
                    }

                    &:hover div {
                        display: block;
                    }

                }
            }


            >.dFlex {
                display: flex;
            }
        }

        >.dashboard {
            >.cards {
                >.individualCard {
                    margin: 0px auto;
                    width: 80vw;
                    max-width: 80vw;
                }
            }
        }

        footer {
            .footer {
                p {
                    font-size: 10px;
                }
            }
        }
    }


}