@mixin resetCss {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@mixin centerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    @include resetCss();
    height: 100vh;
    width: 100vw;
    position: relative;

    // >header {
    //     @include resetCss();
    //     height: 20%;
    //     box-sizing: border-box;

    //     .progressBar {
    //         // width: 50%;
    //         margin-top: 20px;
    //         display: none
    //     }

    //     .pBarLabel {
    //         display: none;
    //     }

    //     .graphBtns {
    //         @include resetCss();
    //         padding: 5px 10px
    //     }
    // }

    >header {
        @include resetCss();
        height: 20%;
        box-sizing: border-box;


        >.mainNavigation {
            height: 35%;
            @include centerFlex();
            background-color: rgb(0,93,0);


            >.wrapper {
                @include resetCss();
                height: 100%;
                width: 98%;
                @include centerFlex();
                justify-content: space-between;

                ul {
                    @include resetCss();
                    height: 70%;
                    display: flex;
                    flex-direction: row;
                    list-style-type: none;

                    li {
                        @include resetCss();
                        @include centerFlex();
                        text-decoration: none;
                        padding: 5px 20px;
                        font-size: 18px;
                        color: white;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        box-sizing: border-box;
                        font-weight: bold;
                        cursor: pointer;

                        // &:hover {
                        //     border-bottom: 4px solid white;
                        // }
                    }

                    li.active {
                        border-bottom: 4px solid white;
                    }

                }

                >.searchElement {
                    @include resetCss();
                    display: flex;
                    align-items: center;

                    >input {
                        @include resetCss();
                        border: none;
                        outline: none;
                        height: fit-content;
                        background-color: rgb(241, 240, 240);
                        padding: 5px 8px;
                        border-radius: 3px;
                    }

                    >.searchBtn {
                        @include resetCss();
                        cursor: pointer;
                        padding: 0px 5px;

                    }

                    >.searchControlButtons{
                        display: flex;
                        flex-direction: column;
                        margin: 0px 15px;
                        justify-content: space-between;

                        >.findControls{
                            color: white;
                            font-size: 20px;
                            font-weight: bold;

                            &:hover{
                                color: gray;
                            }
                        }
                    }

                    #resultDisplay{
                        width: fit-content;
                        color: white;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
                    }


                }

            }


        }

        >.subNav {
            // background-color: rgb(61, 168, 61);
            @include resetCss();
            height: 65%;
            width: 100%;
            @include centerFlex();
            background-color: rgb(240, 240, 240);
            border-bottom: 1px solid gray;




            .subNavIndividual {
                @include resetCss();
                width: 98%;
                height: 100%;
                padding: 20px;


            }

            .subNavIndividual.active {
                display: flex;
            }

            .file {
                display: none;
                flex-direction: column;
                justify-content: space-around;
                align-items: start;

                i {
                    font-size: 20px;
                }

                #progressBarContainer{
                    width: 100%;
                    display: none;

                    #progressBar{
                        width: 90%;
                    }

                    .pBarLabel{
                        @include resetCss();
                        display: inline;
                        
                    }
                }



            }

            .graphs {
                display: none;
                justify-content: start;
                align-items: center;

                >.indiGraphs {

                    padding: 5px 10px;
                    cursor: pointer;

                    >i {
                        font-size: 28px
                    }

                    p{
                        @include resetCss();
                        text-align: center;
                        margin-top: 4px
                    }

                }
            }

        }
    }

    >.mainContainer {

        @include resetCss();
        height: 80%;
        background-color: black;
        grid-gap: 3px;
        border-bottom: 1px solid bl;

        >.row {
            @include resetCss();
            display: grid;
            grid-gap: 3px;

            >.excel {
                @include resetCss();
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                // background-color: rgb(240, 240, 240);
                background-color: #f3f0f0;
                overflow: hidden;

                >.sheetContainer {

                    height: 95%;
                    width: 100%;


                    >.sheet {

                        height: 100%;
                        width: 100%;

                        >.topSection {
                            @include resetCss();

                            height: 5%;
                            width: 100%;
                            box-sizing: border-box;
                            display: flex;

                            >.nothing {
                                width: 5%;
                                height: 100%;

                            }

                            >.upperCanvas {
                                width: 95%;
                                height: 100%;
                                position: relative;

                                >.horizontalCanvas {
                                    width: 99%;
                                    height: 100%;
                                    //positioning is used inorder to tackle the default behaviour of canvas
                                    position: absolute;
                                    top: 0%;
                                    left: 0%;
                                }
                            }

                        }

                        >.middleSection {
                            // border: 1px solid green;
                            height: 95%;
                            display: flex;
                            width: 100%;
                            box-sizing: border-box;
                            position: relative;

                            >.verticalCanvas {
                                // border: 1px solid grey;
                                width: 5%;
                                height: 98%;
                                position: absolute;
                                top: 0;
                                // background-color: green;
                                left: 0;

                            }

                            >.fullCanvas {
                                width: 95%;
                                height: 100%;
                                display: flex;
                                position: absolute;
                                left: 5%;
                                top: 0%;

                                >.spreadsheetCanvas {
                                    width: 99%;
                                    height: 98%;
                                    background-color: white;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                }

                                >.horizontalScroll {
                                    box-sizing: border-box;
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    height: 2%;
                                    width: 99%;
                                    @include centerFlex();

                                    >.horizontalBar {
                                        height: 80%;
                                        width: 50%;
                                        background-color: grey;
                                        position: absolute;
                                        left: 0px;
                                        border-radius: 25px;
                                    }

                                }

                                >.verticalScroll {
                                    // border: 1px solid yellow;
                                    transition: all 0.1s;
                                    box-sizing: border-box;
                                    position: absolute;
                                    height: 98%;
                                    top: 0;
                                    right: 0;
                                    width: 1%;
                                    @include centerFlex();

                                    >.verticalBar {
                                        height: 50%;
                                        width: 80%;
                                        background-color: grey;
                                        position: absolute;
                                        top: 0;
                                        border-radius: 25px;
                                    }

                                }

                                >input {
                                    @include resetCss();
                                    display: none;
                                    position: absolute;
                                    border: none;
                                    outline: none;
                                    padding: 0px 9px;
                                    margin: 2px;
                                    font-size: 14px;
                                    font-family: 'Calibri';
                                }
                            }
                        }

                    }
                }

                >.footer {
                    min-height: 30px;
                    height: 5%;
                    width: 100%;
                    @include centerFlex();
                    justify-content: start;
                    @include resetCss();

                    overflow-x: auto;
                    overflow-y: hidden;



                    >.buttons {

                        @include resetCss();
                        height: 100%;
                        width: 50%;
                        display: flex;


                        button {
                            @include resetCss();
                            margin: 5px 5px;
                            padding: 5px 10px;
                            border: 1px solid #ccc;
                            @include centerFlex();
                            background-color: #f9f9f9;
                            cursor: pointer;
                            position: relative;

                            &:hover {
                                background-color: #e9e9e9;
                            }

                            .close {
                                @include resetCss();
                                font-size: 10px;
                                font-weight: bold;
                                position: absolute;
                                top: -5px;
                                right: -5px;
                                width: 15px;
                                height: 15px;
                                background-color: red;
                                color: white;
                                border: none;
                                border-radius: 50%;
                                cursor: pointer;
                            }

                            &:hover .close {
                                display: block;
                            }

                            &.active {
                                background-color: #d0ebff;
                                border-color: #8ac4d0;
                            }


                        }


                        >.scrollableButtons {

                            @include resetCss();
                            display: flex;
                            overflow-y: hidden;
                            overflow-x: auto;

                            // Custom scrollbar styles for the footer
                            &::-webkit-scrollbar {
                                height: 3px;
                            }

                            &::-webkit-scrollbar-track {
                                background: #f1f1f1;
                            }

                            &::-webkit-scrollbar-thumb {
                                background: #888;
                                border-radius: 5px;
                            }

                            &::-webkit-scrollbar-thumb:hover {
                                background: #555;
                            }

                            // Custom scrollbar styles for the footer
                            &::-webkit-scrollbar {
                                height: 3px;
                            }

                            &::-webkit-scrollbar-track {
                                background: #f1f1f1;
                            }

                            &::-webkit-scrollbar-thumb {
                                background: #888;
                                border-radius: 5px;
                            }

                            &::-webkit-scrollbar-thumb:hover {
                                background: #555;
                            }
                        }


                    }



                    >.selectedCellInfo {
                        width: 50%;
                        @include resetCss();
                        height: 100%;
                        @include centerFlex();
                        flex-wrap: wrap;

                        >.selectedCellInfoElements {
                            @include resetCss();
                            font-size: 14px;
                            color: grey;
                        }
                    }
                }
            }

        }



    }


    >.graph {

        height: fit-content;
        width: fit-content;
        position: absolute;
        top: 20%;
        left: 35%;
        border: 1px dotted;
        padding: 30px;
        border-radius: 3px;
        background-color: white;
        border: 1px solid black;
        display: none;



        >.graphClose {
            @include resetCss();
            outline: none;
            border: none;
            height: 20px;
            width: 20px;
            position: absolute;
            border-radius: 5px;
            right: 5px;
            top: 5px;
            text-align: center;
            font-size: 12px;
            color: white;
            background-color: red;
        }


    }

    
    >.contextMenu {
        display: none;
        position: absolute;
        background-color: white;
        border: 1px solid #ccc;
        z-index: 1000;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
        width: 200px;

        >ul {
            list-style: none;
            margin: 0;
            padding: 0;

            >li {
                padding: 8px 12px;
                cursor: pointer;
                display: flex;
                align-items: center;

                >p{
                    @include resetCss();
                    margin-left: 10px;
                }

                &:hover {
                    background-color: #f0f0f0;
                }
            }
        }
    }


    // >.contextMenu {
    //     display: none;
    //     position: absolute;
    //     background-color: white;
    //     border: 1px solid #ccc;
    //     z-index: 1000;
    //     box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    //     width: 150px;

    //     >ul {
    //         list-style: none;
    //         margin: 0;
    //         padding: 0;

    //         >li {
    //             padding: 8px 12px;
    //             cursor: pointer;

    //             &:hover {
    //                 background-color: #f0f0f0;
    //             }
    //         }
    //     }
    // }

}