<div class="mainContainer">
    <div class="headingWrapper">
        <div class="heading">
            <div class="goBack"><i class="fa-solid fa-arrow-left" style="color: #3FD28B;font-size: 20px;"></i></div>
            <div class="title">Create New Question</div>
            <div class="buttons">
                <button>CANCEL</button>
                <button class="disabled">PUBLISH</button>
                <button>SAVE &nbsp; <i class="fa-solid fa-angle-down" style="font-weight: bold;"></i></button>
            </div>
        </div>
    </div>
    <div class="highlighter">
        <div class="subHeading">
            <div class="subHeadingName">
                Highlight <span >(Locked)</span>
            </div>
            <div class="subHeadingButtons">
                <button><i class="fa-solid fa-unlock"></i> &nbsp; UNLOCK</button>
                <button><i class="fa-solid fa-eye"></i> &nbsp;SAVE AND PREVIEW</button>
            </div>
        </div>
        <div class="steps">
            <div class="step"><i class="fa-solid fa-pen"></i><p>Question Properties</p></div>
            <div class="line"></div>
            <div class="step"><i class="fa-solid fa-2"></i><p>Question Content</p></div>
        </div>
        <app-form></app-form>
        <div class="addFeedback">ADD FEEDBACK
        </div>
        <div class="controls">
            <button>PREVIOUS</button>
        </div>
    </div>
    

</div>